## Preprocessing

In [41]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [42]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df_reduced = application_df.drop(columns=['EIN','NAME'])

In [43]:
application_df_reduced.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [44]:
# Determine the number of unique values in each column.
application_df_reduced.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [45]:
# Look at APPLICATION_TYPE value counts for binning
application_df_reduced['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [46]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace=['T9','T13','T12','T2','T25','T14','T29','T15','T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df_reduced['APPLICATION_TYPE'] = application_df_reduced['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df_reduced['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [47]:
# Look at CLASSIFICATION value counts for binning
application_df_reduced['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [48]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace=['C7000','C1700','C4000','C5000','C1270','C2700','C2800','C7100','C1300','C1280',
    'C1230','C1400','C7200','C2300','C1240','C8000','C7120','C1500','C1800','C6000','C1246','C1267','C3200',
    'C1256','C4120','C8210','C2561','C4500','C2150','C1250','C8200','C1238','C1278','C1235','C1237','C7210',
    'C2400','C1720','C4100','C1257','C1600','C1260','C2710','C0','C1234','C1236','C1820','C6100','C1732',
    'C1728','C1245','C1900','C2570','C2600','C1370','C5200','C4200','C2190','C2500','C1580','C3700','C1570',
    'C1283','C2380','C2170','C1248']

# Replace in dataframe
for cls in classifications_to_replace:
    application_df_reduced['CLASSIFICATION'] = application_df_reduced['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df_reduced['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [49]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_reduced_encoded = pd.get_dummies(application_df_reduced, columns=['APPLICATION_TYPE','AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])

application_df_reduced_encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [50]:
# Split our preprocessed data into our features and target arrays
y = application_df_reduced_encoded.IS_SUCCESSFUL.values
X = application_df_reduced_encoded.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [51]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [52]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=43))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 80)                3520

 dense_19 (Dense)            (None, 30)                2430

 dense_20 (Dense)            (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [54]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [55]:
# Train the model
fit_model = nn.fit(X_train, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 771us/step - loss: 100066.1016 - accuracy: 0.4984
Epoch 2/50
804/804 [==============================] - 1s 777us/step - loss: 64189.7617 - accuracy: 0.4977
Epoch 3/50
804/804 [==============================] - 1s 764us/step - loss: 38787.7461 - accuracy: 0.4962
Epoch 4/50
804/804 [==============================] - 1s 746us/step - loss: 70366.5703 - accuracy: 0.4900
Epoch 5/50
804/804 [==============================] - 1s 751us/step - loss: 43209.1953 - accuracy: 0.4923
Epoch 6/50
804/804 [==============================] - 1s 753us/step - loss: 60128.2695 - accuracy: 0.5075
Epoch 7/50
804/804 [==============================] - 1s 767us/step - loss: 36302.1172 - accuracy: 0.5015
Epoch 8/50
804/804 [==============================] - 1s 762us/step - loss: 22054.1113 - accuracy: 0.5118
Epoch 9/50
804/804 [==============================] - 1s 751us/step - loss: 23527.2266 - accuracy: 0.5049
Epoch 10/50
804/804 [==============================] - 1s 756us/step - loss: 15052.0352 - accuracy: 0.4967
Epoch 11/50
804/804 [==============================] - 1s 748us/step - loss: 3620.0293 - accuracy: 0.5052
Epoch 12/50
804/804 [==============================] - 1s 752us/step - loss: 18357.8457 - accuracy: 0.4949
Epoch 13/50
804/804 [==============================] - 1s 750us/step - loss: 18229.4141 - accuracy: 0.5148
Epoch 14/50
804/804 [==============================] - 1s 772us/step - loss: 3689.4783 - accuracy: 0.5265
Epoch 15/50
804/804 [==============================] - 1s 750us/step - loss: 3223.4260 - accuracy: 0.5093
Epoch 16/50
804/804 [==============================] - 1s 760us/step - loss: 6823.6411 - accuracy: 0.4894
Epoch 17/50
804/804 [==============================] - 1s 760us/step - loss: 2726.0447 - accuracy: 0.5207
Epoch 18/50
804/804 [==============================] - 1s 752us/step - loss: 2599.2046 - accuracy: 0.5263
Epoch 19/50
804/804 [==============================] - 1s 769us/step - loss: 363.9882 - accuracy: 0.5193
Epoch 20/50
804/804 [==============================] - 1s 760us/step - loss: 509.3429 - accuracy: 0.5071
Epoch 21/50
804/804 [==============================] - 1s 750us/step - loss: 0.6976 - accuracy: 0.5324
Epoch 22/50
804/804 [==============================] - 1s 760us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 23/50
804/804 [==============================] - 1s 771us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 24/50
804/804 [==============================] - 1s 742us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 25/50
804/804 [==============================] - 1s 750us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 26/50
804/804 [==============================] - 1s 749us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 27/50
804/804 [==============================] - 1s 754us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 28/50
804/804 [==============================] - 1s 750us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 29/50
804/804 [==============================] - 1s 752us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 30/50
804/804 [==============================] - 1s 760us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 31/50
804/804 [==============================] - 1s 749us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 32/50
804/804 [==============================] - 1s 763us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 33/50
804/804 [==============================] - 1s 741us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 34/50
804/804 [==============================] - 1s 738us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 35/50
804/804 [==============================] - 1s 733us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 36/50
804/804 [==============================] - 1s 752us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 37/50
804/804 [==============================] - 1s 734us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 38/50
804/804 [==============================] - 1s 735us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 39/50
804/804 [==============================] - 1s 747us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 40/50
804/804 [==============================] - 1s 740us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 41/50
804/804 [==============================] - 1s 750us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 42/50
804/804 [==============================] - 1s 741us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 43/50
804/804 [==============================] - 1s 733us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 44/50
804/804 [==============================] - 1s 741us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 45/50
804/804 [==============================] - 1s 754us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 46/50
804/804 [==============================] - 1s 736us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 47/50
804/804 [==============================] - 1s 730us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 48/50
804/804 [==============================] - 1s 745us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 49/50
804/804 [==============================] - 1s 749us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 50/50
804/804 [==============================] - 1s 740us/step - loss: 0.6912 - accuracy: 0.5324

In [56]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6911 - accuracy: 0.5324 - 209ms/epoch - 778us/step
Loss: 0.6910535097122192, Accuracy: 0.5323615074157715

In [58]:
# Export our model to HDF5 file
nn.save('my_model.h5')
export_model = tf.keras.models.load_model('my_model.h5')

c:\Users\and_i\anaconda3\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(